.p {
      color: black;
      text-align: center;
      font-size: 20px;
     
    }
    
.botao {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      gap: 15px;
       
    }
.divisaoHeader {
      background-color: #ADD8E6;
      
}
.tituloPrincipal{
     
    font-size: 30px;
    text-align: center;

}